:host {
  display: block;
  color: var(--primary-color);
}

[role='checkbox'] {
  width: 1em;
  max-width: 2em;
  min-width: 3em;
  height: 1em;
  border-color: red;
  border: solid 1px currentColor;
}

[role='checkbox'][aria-checked='true']::before {
  content: '✓';
  text-align: center;
}
